@model LoginViewModel
@using OAuthServer
@using OAuthServer.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    <title>登录</title>
</head>

<body>
    <div class="bgblur"></div>
    <div class="root">
        <div class="login-content">

            <div class="text-center">
                <svg data-noselect="" viewBox="0 0 400 300" width="100" height="100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" style="background: rgba(255, 255, 255, 0);">
                    <defs></defs>
                    <g id="shape_162ZKLcIhn" transform="translate(79.99999999999999,66.66666666666667) rotate(0,54,37.5) scale(2.2222222222222223,2.2222222222222223)" filter="" style="cursor: move; opacity: 1;">
                        <g>
                            <rect fill="rgba(0,0,0,0)" width="128" height="95" x="-10" y="-10"></rect>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" shape-rendering="auto" text-rendering="auto" width="108" contentscripttype="text/ecmascript" color-rendering="auto" color-interpolation="auto" xml:space="preserve" preserveAspectRatio="none" viewBox="0 0 108.544 75.241" image-rendering="auto" zoomAndPan="magnify" version="1.1" contentstyletype="text/css" x="0px" enable-background="new 0 0 108.544 75.241" height="75" y="0px" data-parent="shape_162ZKLcIhn">
                            <g fill="#0075BF" id="layer2">
                            <path d="M51.92,69.191c-4.433,0-6.082-0.371-9.274-2.889c-3.406-2.693-5.108-6.097-5.108-10.209V20.418   c0-0.922-0.168-1.639-0.505-2.153c-0.337-0.514-0.962-1.09-1.943-1.09c-2.428,0-3.565,4.235-6.545,13.236   c-2.093,6.238-4.524,14.619-7.292,25.146c-1.134,4.537-2.287,9.073-3.458,13.609H3l13.889-48.774   c1.667-5.851,4.114-10.265,7.342-13.244C27.246,4.384,30.724,3,34.661,3c4.826,0,8.779,1.065,11.866,3.194   c3.582,2.483,5.376,6.101,5.376,10.853v52.194"></path>
                    </g>
                            <g fill="#7D4698" id="layer1">
                            <path d="M53.641,69.241V17.047c0-4.752,1.792-8.37,5.376-10.853C62.102,4.065,66.057,3,70.882,3   c3.938,0,7.416,1.384,10.431,4.15c3.228,2.979,5.675,7.393,7.343,13.244l13.889,48.774H87.748   c-1.17-4.536-2.322-9.072-3.457-13.609c-2.769-10.527-5.199-18.908-7.292-25.146c-2.979-9.001-4.275-13.236-6.545-13.236   c-0.982,0-1.604,0.576-1.942,1.09c-0.338,0.515-0.506,1.231-0.506,2.153v35.675c0,4.112-1.702,7.516-5.106,10.209   c-3.194,2.518-4.844,2.889-9.275,2.889"></path>
                    </g>
                   </svg>
                        </g>
                    </g>
                </svg>
            </div>

            <div class="page-header text-center">
                <h3>统一认证中心</h3>
            </div>
            <section>
                <form  asp-controller="Home" asp-action="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control" placeholder="用户名" asp-for="Username" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="密码" asp-for="Password" autocomplete="off">
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="RememberLogin">
                            <input type="checkbox">
                            <strong>记住我的登录</strong>
                        </label>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" name="button" type="submit">登录</button>
                    </div>
                </form>
            </section>
        </div>
        <footer class="footer">
            <div class="container-footer text-center">
                <span>&copy; 2016 - 2019 小梦博客 版权所有 </span>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>


@*<form asp-controller="Home" asp-action="Login" method="post">
        <input type="hidden" asp-for="@Model.ReturnUrl" />
        <div>
            <label asp-for="@Model.Username"></label>
            <input asp-for="@Model.Username" />
        </div>
        <div>
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" />

        </div>
        <div>
            <button type="submit">Login</button>
        </div>

    </form>*@